$primary: #233044;
$secondary: #376fd0;
$primary_darker: #1e2a38;
$main_bg: #f7f9fc;
$main_text_color_on_dark: #eeeeee;
$main_text_color_on_light: rgba(0, 0, 0, 0.87);
$alert: #ef5350;
$success: #4caf50;
$pending: #ff9800;
$notice: #4782da;
$link: #376fd0;
$light: #D6D6D6;
