$primary: rgb(35, 48, 68);
$secondary: rgb(55, 111, 208);
$primary_darker: #1e2a38;
$main_bg: rgb(247, 249, 252);
$main_text_color_on_dark: rgb(238, 238, 238);
$main_text_color_on_light: rgba(0, 0, 0, 0.87);
$alert: rgb(239, 83, 80);
$success: rgb(76, 175, 80);
$pending: rgb(255, 152, 0);
$notice: rgb(71, 130, 218);
$link: rgb(55, 111, 208);
$light: #D6D6D6;

