@import "src/styles/variables";

.app {
  height: 100vh;
  display: flex;
  .app-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;

    .content {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: $main_bg;
    }
  }
}
